header{

		background: #D3D3D3	;
}
  h1{
     text-align: center;
  	color :#FFFFFF;
  	font-variant: small-caps;
  }
  h2{
    font-variant: small-caps;
  	color:#0000FF;
  }
  section{
  	background: #A9A9A9	;
  }
  a{
  	background:#FFB6C1;
  	color:#000000;
  }
aside{
	display:none;
}
